{% extends "bootstrap/base.html" %}

{% block title %}Upload new File{% endblock %}

{% block content %}
<div class="container page-header">
    <form method=post enctype=multipart/form-data>
        <p>
            <label>
                <span class="btn btn-primary">
                    Choose File
                    <input type="file" name="file" style="display:none">
                </span>
            </label>
        </p>
        <p>
            <input class="btn btn-default" type="submit" value="Upload">
        </p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                <span>Alert: </span>
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</div>

{% endblock %}

